<% layout('/layouts/boilerplate') %>
<style>
    /* https://www.w3schools.com/howto/howto_css_thumbnail.asp */
    .image-thumbnail {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 100px;
        height: 100px;
    }
    .image-thumbnail:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
</style>

    <h1>Edit Product</h1>

    <div class="row">
        <div class="col-6">
            <form class="needs-validation" action="/yourdalaal/<%=product._id%>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate>
                <div class="mb-2">
                    <label for="name" class="form-label">Product Title</label>
                    <input type="text" name="name" class="form-control" value="<%=product.name %> " id="name" required>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="category">Category</label>
                    <input class="form-control" type="text" name="description[category]" value="<%=product.description.category %> " id="category" required>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="price">price</label>
                    <input class="form-control" type="text" name="description[price]" value="<%=product.description.price %>" id="price" required>
                </div>
                <div class="mb-2">
                    <input type="file" name="image" id="image" multiple>
                </div>
                <div class="mb-2">
                    <% product.description.images.forEach(function(img,i){ %>
                        <img src="<%= img.url %>" class="image-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete</label>
                        <% }) %>
                </div>
                <div class="mb-2">
                    <label for="Description" class="form-label">Description</label>
                    <textarea type="text" name="description[desc]" class="form-control" id="Description" required><%=product.description.desc%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-primary">Update Product</button>
                </div>
            </form>
        </div>
    </div>
