<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="col-6 mb-3">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button> -->
                
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="<%=item.description.photo %>" class="d-block w-100 vh-50" alt="...">
                </div>
                <!-- <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div> -->
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>

    <div class="col-6 mb-3">
        <div>
            <h2><%= item.name %> </h2>
            <hr>
            <p>category: <%=item.description.category %> </p>
            <p><%=item.description.desc %> </p>
            <p>Price: <%=item.description.price %> Rs. </p>
        </div>
        <a class="m-2" href="/yourdalaal/<%= item._id %>/edit">Edit Item</a>
        <form action="/yourdalaal/<%= item._id %>?_method=DELETE " method="post" class="d-inline">
            <button>Delete Item</button>
        </form>
        <!-- <a href="/yourdalaal">YourDalaal</a> -->
    </div>

</div>
